.menu-burger {
    padding-top: 0.4vh;
    padding-right: 1vw;
    position: relative;

    nav {
        position: absolute; 
        top: 10.7vh;
        left: -200px; /* Déplace le menu en dehors de l'écran par défaut */
        width: 200px;
        height: 88.2vh;
        background-color: var(--background);
        color: var(--text-color);
        z-index: 1000;
        transition: left 0.3s ease-in-out; /* Transition pour l'effet de glissement */
        user-select: none;
   

        &.open  {
            left: 0; /* Affiche le menu en le glissant vers la droite */
            border-right: 1px solid var(--text-color);
        }

        li {
            list-style: none;

            a {
                text-decoration: none;
                color: var(--text-color);
                padding-left: 3vw;
                font-size: 18px;

                &:hover {
                    text-decoration: underline;
                    transition: 0.5s ease-in-out;

                }
            }
        }
        .menu-title {
            padding-left: 3vw;
            padding-top: 1vh;
            padding-bottom: 1vh;
            font-size: 22px;
        }

        .dotted-line {
            width: 7vw;
            border: 1px dotted var(--text-color);
            margin-left: 5vh;
            margin-top: 2vh;
        }

        .account-buttons {
            display: flex;
            flex-direction: column;
            padding-top: 7vh;
            padding-left: 3vw;
      
            button {
              width: 12vw;
              height: 4vh;
      
              margin-bottom: 2vh;
      
              background-color: var(--background);
              color: var(--text-color);
      
              border: 1px solid var(--text-color);
              border-radius: 20px;
      
              cursor: pointer;
      
              &:hover {
                background-color: var(--text-color);
                color: var(--background);
                transition: 0.5s ease-in-out;
              }
      
              &:hover a {
                color: var(--background);
                transition: 0.5s ease-in-out;
              }
      
              a {
                text-decoration: none;
                color: var(--text-color);
              }
            }
          }
        }
      }
