.contact-form {

    div {
        display: flex;
        flex-direction: column;
        padding: 2vh;

    
        label {
            padding-bottom: 1vh;
        

        }

        input {
            padding: 20px;
            width: 350px;
            height: 10px;
            border-radius: 15px;
            border: 1px solid rgba(128, 128, 128, 0.344);
            background-color: rgba(191, 188, 188, 0.162);
        }
    }
}
