:root {
    --background: white;
    --text-color: #000; 
}

[data-theme="night"] {
    --background: #18181a;
    --text-color: white;
}

body, header, footer {
    background-color: var(--background);
    color: var(--text-color);
}

.day-night-toggle {
    position: absolute;
    top: 42px;
    left: 49%;
    cursor: pointer;
    transition: transform 0.7s ease-in-out;

    img {
        width: 18px;
        height: 18px;
    }

    &.night {
        transform: rotate(220deg);
    }
}
