:root {
    --background: white;
    --text-color: #000; 
}

[data-theme=night]{
    --background: #000;
    --text-color:  white;
}

body, header, footer, a {
    &.nightTheme {
        background-color:  var(--background-color-dark);
        color: var(--text-color-dark);
    }

    background-color: var(--background);
    color: var(--text-color);
}

.day-night-toggle {
    position: absolute;
    top: 42px;
    left: 50%;
    cursor: pointer;
    transition: transform 0.7s ease-in-out;

    img {
        width: 18px;
        height: 18px;
    }

    &.night {
        transform: rotate(220deg);
    }
}

