.artists-page {
    
    artists-grid {
    display: grid !important;
    width: 50vh !important;
    height: 50vh !important;
    grid-template-columns: repeat(1, 1fr) !important; // Une seule colonne

        .gallery-item {
            width: 50vh !important;
            height: 50vh !important;
            // Styles supplémentaires pour personnaliser l'affichage des images des artistes
    
        }
    }
}

