* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family:'Gill Sans Nova';
    src: url(../../Assets/font/GillSansNova-CnSemiBold/GillSansNova-CnSemiBold.ttf);
}

.first { 
    display: flex;
    flex-direction: column;
    min-height: 77px;

    .header-container {
        width: 100%;
        min-height: 55px;

        
        display: flex;
        justify-content: space-between;
        align-items: center;

        font-family: "Gill Sans Nova";

        .header-left {
            padding-left: 10px;
        }

        .header-center ul {
            display: flex;

            li { 
                list-style: none;
                padding: 8px;

                a {
                    text-decoration: none;
                    
                    color: black;
                    

                    &.night {
                        filter: invert(1);
                        text-decoration: none;

                        // TROUVER UN MOYEN DE GERER LE DARK/NIGHT AVEC UN HOVER NOIR
                    }


                }
            }
        }

        .header-right {
            display: flex;
            align-items: center;
            padding-right: 10px;
        
            .icon-account {
                width: 14px;            
                height: 14px; 
                padding-left: 3px;
                
                &.night {
                    filter: invert(1);
                }
            }
        
            .icon-loop {
                width: 18px;
                height: 18px;

                &.night {
                    filter: invert(1);
                }
            }
        
            .icon-heart {
                width: 16px;            
                height: 16px;     
                padding-left: 5px;
            }
        }
        
        

        .toggle-container {
            width: 100%;
            height: 12px;

            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 10px;
        } 
    }
}