.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Gill Sans Nova';

    nav {
        ul {
            display: flex;
            justify-content: center;

            li {
                list-style: none;
                text-decoration: none;
                padding: 8px;
                font-size: 18px;

                .nav-link {
                    text-decoration: none;
                    color: var(--text-color);
                }

                &.night {
                    text-decoration: none;
                }

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .line-decoration {
        width: 160px;
        border-bottom: 1px solid black;

        &.night { 
            border-bottom: 1px solid white;        
        }
    }

    .text-footer-bloc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        padding-top: 20px;

        h2 {
            padding-bottom: 10px;
        }

        p {
            padding-bottom: 5px;
            font-size: 15px;

        }
        .logo-insta {
            width: 30px;
            height: 30px;
            padding-bottom: 10px;
            
            &.night {
                filter: invert(1);
            }
        } 
    }

    .footer-form {
        height: 20px;
        padding-bottom: 20px;

        input {
        height: 15px;
        margin-right:3px;

        }

        button {
            height: 22px;
            width: 70px;
            margin-left:5px;

            background-color: black;
            color: white;
            border: none;
            border-radius: 2%;
            font-size: 12px;
        }
    }

    .copyright {
        font-size: 12px;
    }
}